# Gradle
.gradle/
build/
.kotlin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar files
!gradle/wrapper/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Eclipse
.classpath
.project

# Mac
.DS_Store

# Misc
*.iml
*.log

# Android
local.properties

# Grok local
.grok/
